/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block-vizzi-video-embed{
  background:red;
  padding:100px;
}
#divbody{
  background:#c3d7c366;
  padding:5%;
}
p{
  margin:auto;
  width: 100%;
  text-align:center;
  font-size:13px;
}
form{
  margin:auto;
  width:100%;
}
input{
  width:80%;
  padding:1%;
  border-radius:5px;
}
button{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin-left:8px;
  border-radius:5px;
  padding:5px 10px;
}

.video-container{
  background:red;
  padding:50px;
}
@media screen and (max-width:600px){
  

}